
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


li {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f9f9f9;
  border-radius: 5px;
}


li a {
  text-decoration: none;
  color: #333; 
  font-size: 1.2rem;
  font-weight: 500;
}

li a:hover {
  text-decoration: underline;
}


li span {
  display: block;
  color: #888;
  font-size: 0.9rem;
}


.rowWise {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


.resize {
  font-size: 0.85rem;
  color: #666;
}


.underLines {
  text-decoration: underline;
  color: #0073e6;
}


.wising {
  display: flex;
  gap: 5px;
  font-size: 0.85rem;
  color: #666;
  margin-top: 8px;
}

.description {
  max-height: 130px;
  overflow-y: auto; 
  line-height: 1.6;
  margin-top: 10px;
  color: #302f2f;
  padding-right: 5px;
  position: relative;
}
