
.search-bar {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 70px; 
    width: 500px;
    margin: 0 auto;
}


input {
    width: 650px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
}

input:focus {
    border-color: #0073e6;
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.2);
}


button {
    height: 35px;
    padding: 5px 15px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

button:hover {
    background-color: #005bb5;
}

button:active {
    background-color: #004494;
}
